{{#extend "header"}}Games{{/extend}}
{{#extend "description"}}Our productions{{/extend}}
{{#extend "image"}}games-bg{{/extend}}
{{#extend "content"}}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        <div class="card"><div class="card-body"><table><tr>
          <td><img src="img/game1-icon.png" width="200px" height="200px"></td>
          <td>
            <h5 class="card-title">GRA 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="btn btn-primary">Zagraj Teraz!</a>
          </td>
        </tr></table></div></div>

        <div class="card"><div class="card-body"><table><tr>
          <td><img src="img/game2-icon.png" width="200px" height="200px"></td>
          <td>
            <h5 class="card-title">GRA 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="btn btn-primary">Zagraj Teraz!</a>
          </td>
        </tr></table></div></div>

        <div class="card"><div class="card-body"><table><tr>
          <td><img src="img/game3-icon.png" width="200px" height="200px"></td>
          <td>
            <h5 class="card-title">GRA 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#" class="btn btn-primary">Zagraj Teraz!</a>
          </td>
        </tr></table></div></div>

      </div>
    </div>
  </div>
{{/extend}}
