{{#extend "header"}}Brand Name{{/extend}}
{{#extend "description"}}Some short description{{/extend}}
{{#extend "image"}}home-bg{{/extend}}
{{#extend "content"}}
  <h2 class="section-heading">Some text</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed purus elementum, gravida ipsum sit amet, volutpat nibh. Ut luctus, mauris a ultrices tristique, turpis nunc semper dolor, a feugiat mi tellus id est. Mauris iaculis eleifend mauris, ac consectetur mauris egestas ut. Fusce nec venenatis arcu, id dictum diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  <h2 class="section-heading">Some more text</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed purus elementum, gravida ipsum sit amet, volutpat nibh. Ut luctus, mauris a ultrices tristique, turpis nunc semper dolor, a feugiat mi tellus id est. Mauris iaculis eleifend mauris, ac consectetur mauris egestas ut. Fusce nec venenatis arcu, id dictum diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed purus elementum, gravida ipsum sit amet, volutpat nibh. Ut luctus, mauris a ultrices tristique, turpis nunc semper dolor, a feugiat mi tellus id est. Mauris iaculis eleifend mauris, ac consectetur mauris egestas ut. Fusce nec venenatis arcu, id dictum diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
{{/extend}}
